<html>
    <head>
        <title>
            home
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </head>
    <body class="bg-secondary">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/index">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/add-project">Link</a>
                  </li>
                  
                </ul>
                <form class="d-flex">
                 
                  <a href="/contact"> Contact Me </a>
                </form>
              </div>
            </div>
          </nav>
          <div class="container-xxl d-flex justify-content-between d-flex d-flex align-items-center h-75 "> 
            <div class="card mb-3" style="width: 100%;height: 80%;">
            <div class="row h-100 p-5">
              <div class="col-md-8">
                <div class="card-body">
                  <h1 class="card-title">Card title</h5>
                  
                  <p class="card-text h-40">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, suscipit exercitationem. Exercitationem rerum rem possimus, provident quos blanditiis aspernatur reprehenderit dolores praesentium incidunt saepe, nesciunt nulla deserunt quod veniam nostrum quaerat sequi? Sunt, suscipit repellendus. Eveniet vero placeat explicabo in possimus corrupti adipisci molestiae sequi! Minima, odio nobis. Quisquam aspernatur vero accusamus officiis hic at sapiente nulla quaerat modi unde et perspiciatis vitae ratione tenetur necessitatibus voluptates voluptatem commodi doloremque, natus ducimus nesciunt, ex fuga nam! Corporis quidem officia eum earum asperiores qui quam impedit eaque architecto ratione. Deleniti, sequi saepe veritatis sint culpa magni odio quas pariatur doloribus itaque.</p>
                  <div class="button d-flex gap-5">
                     <div class="button1" class="">
                    <button type="button" class="btn btn-dark">contact</button>
                    </div>
                    <div class="button2 " style="cursor: pointer;">
                     <label for="button1" class="d-flex justify-content-between mt-2 gap-2">
                       <p style="margin: auto;">download</p>
                      
                      <img src="/public/img/file_download_black_24dp.svg" alt="file">
                    </label>
                     <input type="file"hidden>
                    </div>
                  </div>
                 

                    
                    <div class="sosmed d-flex align-items-end h-25 gap-2 text-decoration-nones">
                      <a href="">
                        <img src="/public/img/twitter.png" alt="">
                      </a>
                      <a href="">
                        <img src="/public/img/mail.png" alt="">
                      </a>
                      <a href="">
                        <img src="/public/img/whatsapp.png" alt="">
                      </a>
                      <a href="">
                        <img src="/public/img/js.png" alt="">
                      </a>
                    </div>
                 
                 
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="card p-2" style="width: 100%;height: 100%;">
                  <img src="/public/book.jpg" class="card-img-top" style="width: 100%;height: 95%; "alt="...">
                  <div class="card-body">
                    <p class="card-text"style="text-align:center; text-transform: uppercase;text:bold;">afif munajat</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        </div>
        
         
        
        <div class="container-fluid  h-100 w-100 p-3 d-flex justify-content-center d-flex align-items-center bg-white">
          <div class="row container-lg  mt-5 fluid d-flex flex-wrap  ">
            <div class="col w-90  "style="height:700px;">
              <div class="card" style="width:100%;height: 600px;">
                <img src="/public/book.jpg" style="height:300px ; width: 100%; display: flex;justify-content: center;"class=" rounded p-2 " alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col">
             <div class="card" style="width:100%; height: 600px;">
                <img src="/public/blog-img-detail.png" style="height:300px ; width: 100%; display: flex;justify-content: center;"class=" rounded p-2 " alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width:100%;height: 600px;">
                <img src="/public/book.jpg" style="height:300px ; width: 100%; display: flex;justify-content: center;"class=" rounded p-2 " alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            
          </div>
          
        </div>
          
    </body>
</html>